$color-primary: #3B82F6;
$color-primary-text: #FFFFFF;
$color-primary-hover: #60A5FA;
$color-primary-active: #2563EB;

$app-background-color: #ddd;

$sidebar-color-background: #0f172a;
$sidebar-color-text: #E2E8F0;
$sidebar-width: 72px;

$font-family-primary: 'Inter', 'Roboto', sans-serif;
$font-size-body: 16px;
