@use "variables.scss" as *;

body {
  font-family: $font-family-primary;
  font-size: $font-size-body;
  color: #000;
  background-color: $app-background-color;
  margin: 0;;
}

h1 {
  font-size: $font-size-h1;
  font-weight: bold;
}

h2 {
  font-size: $font-size-h2;
  font-weight: bold;
}

h3 {
  font-size: $font-size-h3;
  font-weight: bold;
}